<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
       <class name="MyMavenProject.MavenProject.CreateAcountOnFacebook"/> 
       <class name="MyMavenProject.MavenProject.FacebookLogin"/>
      <class name="MyMavenProject.MavenProject.Datepicker"/>
      <!--class name="MyMavenProject.MavenProject.ScreenshotExample"/> -->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
